.switch {
  background-color: black;
  border: 5px solid gold;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
}

button {
  background-color:#033;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 100px;
  margin: 10px 10px 0 10px;
  outline: 0;
  width: 100px;
}


button:last-child {
  margin-bottom: 10px;
}